header {
    background: url("images/paint.jpg");
    text-align: center;
    color: white;
}
ul {
    background: rgba(255, 255, 255, 0.74);
    text-align: center;
}
li {
    display: inline;
    padding:  0px 40px 0px 40px;
}
body {
    background-color: #838793;
    font-family: 'Montserrat', sans-serif;
}
p {
    padding: 0px 400px 0px 400px;
}

.header-pic {
    margin: 0 auto;
    border: 10px double black;
    border-radius: 20px;
    display: block;
}
.button {
}
h1, h2, h3 {
    padding: 0px 400px 0px 400px;
}
@media (max-width: 1000px) {
p, h2, h3 {
        padding: 0px 100px 0px 100px;
    }
}
br {
    padding: 10px 0px 10px 0px;
}
table, thead, tbody, th, td, tr {
    border: 1px solid black;
    margin: auto;
    padding: 0px 400px 0px 400px;
}
